<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css">
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="../lib/bootstrap-table-export.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button type="button" class="btn btn-info" @click='readdata'>提提数据</button>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-condensed" >
                <thead>
                    <tr>
                        <th>index</th>
                        <th>id</th>
                        <th>title</th>
                        <th>title</th>
                        <th>title</th>
                        <th>title</th>
                        <th>title</th>
                        <th>title</th>
                        <!-- <th>visit_count</th>
                        <th>typed_count</th>
                        <th>last_visit_time</th>
                        <th>hidden</th>
                        <th>favicon_id</th> -->
                    </tr>
                </thead>
                <tbody >
                    <tr v-for="(irow,index) in localdata">
                        <td>{{ index }}</td>
                        <td>{{ irow.id }}</td>
                        <td>{{ irow.title }}</td>
                        <td>{{ irow.title }}</td>
                        <td><div class="checkbox">
                            <label>
                                <input type="checkbox" :value="irow.id">
                                {{irow.id}}
                            </label>
                        </div></td>
                        <td><input type="checkbox" :name="irow.id" :id="irow.id"></td>
                        <td>{{ irow.title }}</td>
                        <td>{{ irow.title }}</td>
                        <!-- <td>{{ irow.visit_count }}</td>
                        <td>{{ irow.typed_count }}</td>
                        <td>{{ irow.last_visit_time }}</td>
                        <td>{{ irow.hidden }}</td>
                        <td>{{ irow.favicon_id }}</td> -->
                        
                    </tr>
                </tbody>
            </table>
        </div>
</div>
<script>
    const app = new Vue({
        el:'#app',
        data:{
            localdata:[]
        },
        methods:{
            readdata:function () {
                this.$http.get('../resources/alotdata.json').then(function(result){
                    console.log(result.body)
                    this.localdata = result.body
                })
            }
        }
    })
</script>
</body>
</html>