<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="../node_modules/vue/dist/vue.js"></script>
        <script src="../node_modules/vue-router/dist/vue-router.js"></script>
    </head>
    <body>
        <div id="app">
            <router-link to="/upup">router-link</router-link>
            <router-view></router-view>
            <router-view name="a"></router-view>
            <router-view name="b"></router-view>
        </div>
        <script>
            let Foo = {
                template:`<h1>Foo</h1>`
            };
            let Bar = {
                template:`<h1>Bar</h1>`
            };
            let Baz = {
                template:`<h1>Baz</h1>`
            };

            const router = new VueRouter({
                routes:[
                    {path:'/upup',components:{
                        default:Foo,
                            a:Bar,
                            b:Baz
                        }}
                ]
            })
            const app = new Vue({
                el:'#app',
                router
            })
        </script>
    </body>
</html>