<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="../node_modules/vue/dist/vue.js"></script>
        <script src="../node_modules/vue-router/dist/vue-router.js"></script>
    </head>
    <body>
        <div id="app">
            <router-link to="{name:'user',params:{userId:123}}">User</router-link>
            <router-view></router-view>
        </div>
        <script>
            var tpl1 = {
                template: `<h1>User</h1>`
            }
            const router = new VueRouter({
                routes: [
                    {path: '/user/:userId',name:'user', component: tpl1}
                ]
            })
            const app = new Vue({
                el: '#app',
                router
            })
        </script>
    </body>
</html>