<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<form @submit.prevent='mysubmit'>
			<input type="text" v-model='fromdata.name'>
			<input type="text" v-model='fromdata.password'>
			<input type="submit" value="提交">
		</form>
		{{ fromdata
		 }}
	</div>
	<script type="text/javascript">
		const app = new Vue({
			el:'#app',
			data:{
				fromdata:{}
			},
			methods:{
				mysubmit (){
					console.log(this.fromdata)
				}
			}
		})
	</script>
</body>
</html>